* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --background-gradient: linear-gradient(to right, #1c9cdb, #c0eed3);
}

body {
    margin: 0;
    padding: 0;
}

.container-grid {
    display: grid;
    grid-template: 2fr 3fr 3fr / 1fr 4fr;
    height: 100%;
}

.left {
    grid-area: 1 / 1 / -1 / 2;
    min-width: 300px;
    background-image: url(images/sidebar.jpg);
    background-size: cover;
}

.left-top > div {
    background-color: white;
    border-radius: 10px;
    /* border: 3px solid rgb(28, 236, 28); */
    display: flex;
    padding: 20px;
}

.left-bottom {
    grid-row: 2 / -1;
}

.top {
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--background-gradient);
}

.top > div:first-child {
    margin-left: 30px;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 3px;
}

.top > div:nth-child(2) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 30px;
}

#new-book {
    padding: 10px 50px;
    background-color: #1c9cdb;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}

#new-book:hover {
    cursor: pointer;
}

.new-book {
    position: fixed;
    text-align: center;
    width: 100%;
}

.form-popup {
    display: none;
    position: fixed;
    right: 30px;
}

.formContainer {
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    display: grid;
    grid-template: 1fr 2fr 2fr / 1fr 1fr;
    border-radius: 10px;
}

.formContainer > div:first-child {
    grid-area: 1 / 1 / 2 / -1;
}

.formContainer > div:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
}

.formContainer > div:nth-child() {
    grid-area: 2 / 2 / 3 / 3;
}

.formContainer input[type=text] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
}

.formContainer input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.formContainer .btn {
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    margin-bottom: 15px;
    margin: 20px;
}
.formContainer .cancel {
    background-color: #cc0000;
}

.formContainer .btn:hover,
.openButton:hover {
    opacity: .8;
}

.books-container {
    grid-row: 2 / -1;
    min-width: 1000px;
    background: var(--background-gradient);
    padding-top: 30px;
    overflow-y: scroll;
}

.books-container-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    gap: 20px;
    margin: 30px;
}

.books-container-inner > div {
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: white;
}